:root {
    --surface-color: #fff;
    --curve: 40;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8;
}

.header {
    display: flex;
    justify-content: center;
}

.welcome {
    display: flex;
    justify-content: center;
}

#userChoice {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    margin-top: 22px;
    margin-right: 20px;
}

#registerChoice {
    display: flex;
    margin: auto;
    justify-content: left;
}

h1 {
    display: flex;
    justify-content: center;
}

/* Card */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
}

.card-image {
    width: 100%;
    height: 400px;
}

.card-infos {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
}

.card-header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
}

.card-arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card-arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card-desc {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card-status {
    font-size: .8em;
    color: #D7BDCA;
}

.genres {
    margin-bottom: 20px;
}

/* Formulaires */

label.required:after {
    content: " * ";
    color: red;
}

#register input[type=text], #register input[type=password], #register input[type=email], .inputLogin {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#movie input[type=text], #movie input[type=number], #movie input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#people input[type=text], #people input[type=number], #people input[type=email] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#register input[type=submit]:hover, #movie input[type=submit]:hover, #people input[type=submit]:hover{
    background-color: #45a049;
}
#register div, #movie div, #people div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.formConnexion {
    display: flex;
    justify-content: center;
}

.formControl {
    margin-top: 150px;
}

.actorAdd {
    margin-left: 16px;
}

/* Boutons */

.btn {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.btnModif {
    display: flex;
    justify-content: left;
    margin-left: 5vw;
}

.btnConnexion {
    color: #fff;
    background-color: #43a147;
}

.btnRegister {
    color: #fff;
    background-color: #435ba1;
}

.btnLogout {
    color: #fff;
    background-color: #f44336;
}

.btnAdd {
    color: #fff;
    background-color: #299954;
}

.btnEdit {
    display: flex;
    justify-content: center;
}

.failedMessage {
    display: flex;
    justify-content: center;
    margin: auto;
    color: red;
}

.return {
    display: none;
}

/* Pagination */

nav {
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination li {
    list-style: none;
}

.pagination .active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}