{% extends 'base.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}
    <h1>Edit People</h1>

    {{ include('people/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="btnEdit">
        {{ include('people/_delete_form.html.twig') }}
        <a href="{{ path('people_index') }}">Retour</a>
    </div>
{% endblock %}
