{% extends 'base.html.twig' %}

{% block title %}New People{% endblock %}

{% block body %}
    <h1>Création</h1>

    {{ include('people/_form.html.twig') }}

    <a href="{{ path('movie_list') }}">Retour</a>
{% endblock %}
