{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription{% endblock %}

{% block body %}

    {{ form(form) }}

    <div class="return">
        <button type="button" class="btn btn-primary">Retour</button>
    </div>

{% endblock %}
